<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>get_capture</title>
</head>
<body>
    <h3>スペースキー押下でキャプチャ取得</h3>
    <video id="video" width="640" height="480" autoplay></video>
    <canvas id="canvas" class="canvas-wrapper"></canvas>
    <div class="image">
        <img src="">
    </div>
    <a href="" onclick="DownloadImage()" id="downloadbutton">Download</a>
</body>

<script src="/static/main.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>

<style>
    /* canvasは非表示にする */
    #canvas {
        display: none !important;
    }
</style>

</html>