<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <title>GET_IMAGE</title>

</head>
<body>
    <h2 class="titleclass">Press Space Key</h3>
    <canvas id="canvas" class="canvas-wrapper"></canvas>
    <div class="gazouyou">
        <video id="video" width="640" height="480" autoplay></video>
        <div class="image">
            <img src="">
        </div>
    </div>
    <a href="" onclick="DownloadImage()" id="downloadbutton" class="button button-font-setting">DOWNLOAD</a>
    <a href="/"id="resethsvbutton" class="button button-font-setting">RESET_HSV</a>
        <div class="hsv_input">
            <div style="border:solid" class="hue">
                <p><input type="range" name="hue_min_range" min="0" max="120"  value="60"></p>
                <p id="hue_min_output">HUE_MIN:60</p>
                <p><input type="range" name="hue_max_range" min="0" max="120"  value="90"></p>
                <p id="hue_max_output">HUE_MAX:90</p>
            </div>
            <div style="border: solid" class="sat">
                <p><input type="range" name="sat_min_range" min="0" max="255"  value="76"></p>
                <p id="sat_min_output">SAT_MIN:76</p>
                <p><input type="range" name="sat_max_range" min="0" max="255"  value="200"></p>
                <p id="sat_max_output">SAT_MAX:200</p>
            </div>
        </div>
</body>


<script src="/static/main.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<style>
    /* canvasは非表示にする */
    #canvas {
        display: none !important;
    }
</style>

</html>
