.hsv_input{
  display: flex;
  background: #fff;
  padding: 20px;
}

.gazouyou{
    display: flex;
}
.button {
  display: inline-block;
  padding: 0.8em 3em;
  background-color: #e3364a; /* 背景色 */
  box-shadow: 0 5px 0 #ca1c30; /* 影の太さ・色 */
  border-radius: 60px;
  color: #fff;
  cursor: pointer;
  text-decoration: none; /* 文字の下線を消す */
}
.button:hover {
  box-shadow: none;
  transform: translateY(5px);
}

.button-font-setting{
  font-weight: bold;
}

.hue{
  margin-right: 10px;
}
.sat{
  margin-left: 10px;
}
